body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
}

@media only screen and (max-width: 1000px) {
.header {
  width: auto;
  margin-bottom: 10%;
 }
}


.nav {
  display: flex;
  justify-content: space-between;;
  text-decoration: none;
  color: #07043B;
  width: 60vh;
  font-family: 'Open sans';
  flex-basis: 30%;
}

@media only screen and (max-width: 1000px) {
.nav {
  flex-basis: 50%;
  font-size: 28px;
 }
}

.nav-a {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@media only screen and (max-width: 1000px) {
.ill1 {
  display: flex;
  height: 100%;
  width: auto;
 }
}

@media only screen and (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 50px;
    text-align: center;
  }
}

.text1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 70px;
}

@media only screen and (max-width: 1000px) {
  .text1 {
    width: auto;
    padding: 0 50px;
  }
}

.text1 h2 {
  font-family: 'Raleway';
  font-size: 40px;
  color: #07043B;
}

@media only screen and (max-width: 1000px) {
  .text1 h2 {
    font-size: 52px;
    width: auto;
  }
}

.text1 p {
  font-family: 'Open sans';
  color: #07043B;
  font-size: 17px;
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .text1 p {
    font-size: 32px;
    width: auto;
  }
}

.input {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .input {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    margin-top: 20px;
  }
}

.input input {
  padding: 10px 20% 10px 10px;
  border-radius: 3px;
  border: 1px solid #07043B;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  font-family: 'Open sans';
  font-size: 14px;
  color: #C2C2C2;
}

@media only screen and (max-width: 1000px) {
  .input input {
    padding: 25px;
    font-size: 24px;
  }
}

.input button {
  background-color: #2F65F8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 60px;
  margin-left: 15px;
  font-weight: 500;
  font-family: 'Open sans';
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
  .input button {
    margin: 0;
    padding: 25px;
    font-size: 28px;
    font-weight: bold;
    margin: 5% 0;
  }
}

.input button:hover {
  background-color: #58A1FF;
  cursor: pointer;
}


.illustration-1 {
  display: flex;
  height: 50vh;
  width: 40%;
  padding-top: 3%;
}

@media only screen and (max-width: 1000px) {
.illustration-1 {
  width: auto;
  height: 40vh;
  padding: 40px 35px;
  align-self: center;
 }
}


.middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: #F8F8FE;
  padding: 0 0 50px 0;
}

@media only screen and (max-width: 1000px) {
  .middle {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    height: 80%;
    width: auto;

  }
}


.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .text2 {
    width: auto;
    align-items: center;
    padding: 0;
    margin-top: 10%;
  }
}

.text2 h2 {
  font-family: 'Raleway';
  font-size: 40px;
  color: #07043B;
}

.text2 p {
  font-family: 'Open sans';
  width: 80%;
  color: #07043B;
}

@media only screen and (max-width: 1000px) {
  .text2 p {
    font-size: 32px;
  }
}

 .text2 a {
   font-family: 'Open sans';
   color: #3DA08F;
   text-decoration: none;
 }

/* NO
.text2 a:after {
  content: '';
  position: absolute;
  width: 13%;
  bottom: -290px;
  left: 50px;
  height: 2px;
  background-color: #3DA08F;
}  */

 .text2 a:hover {
   cursor: pointer;
   color: #71DFCC;
 }

.arrow-link {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}

.arrow-link:hover {
  color: #71DFCC;
}

@media only screen and (max-width: 1000px) {
  .arrow-link {
    font-size: 28px;
    width: 32%;
    margin: 5% 0;
  }
}

 .icon-arrow {
   width: 3vh;
   height: 3vh;
 }

.quotes {
  width: 6%;
  height: 7%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-content: center;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  width: 45%;
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 0.5px;;
  color: #07043B;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 70%;
    padding-left: 7%;
    padding-top: 7%;
    align-content: center;
    text-align: left;
    margin-bottom: 15%;
  }
}

@media only screen and (max-width: 1000px) {
  .container p {
    width: auto;
  }
}

.avatar {
  width: 5vh;
  height: 5vh;
  border-radius: 360px;
}

.kyle {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .kyle {
   justify-content: flex-start;
  }
}

@media only screen and (max-width: 1000px) {
  .kyle p {
   margin-left: 10px;
   font-size: 24px;
  }
}
.illustration-2 {
  display: flex;
  width: 40%;
  height: 50vh;
  margin-top: 15%;
}

@media only screen and (max-width: 1000px) {
.illustration-2 {
  width: auto;
  height: 40vh;
  padding: 40px 35px;
  align-self: center;
  margin-top: 20%;
 }
}


@media only screen and (max-width: 1000px) {
.ill2 {
  display: flex;
  height: 100%;
  width: auto;
 }
}


.form {
  display: flex;
  justify-content: space-between;
  background-color: hsl(238deg 22% 44%);
  height: 50vh;
  padding: 0 70px;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 50%;
    padding: 0;
    justify-content: space-around;
  }
}

.form-text {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px;
    width: auto;
  }
}

.form-text h3 {
  font-family: 'Raleway';
  font-size: 32px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .form-text h3 {
    font-size: 40px;
  }
}


.form-text p {
  font-family: 'Open sans';
  color: white;
  width: 80%;
}


@media only screen and (max-width: 1000px) {
  .form-text p {
    font-size: 32px;
    width: 80%;
  }
}

 .form-input {
   display: flex;
   flex-direction: column;
   color: #C0C0C0;
   width: 50%;
 }

@media only screen and (max-width: 1000px) {
  .form-input {
    width: 70%;
    margin-bottom: 15%;
  }
}

.box input {
  width: 80%;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  padding: 15px;
  border-radius: 3px;
  border: none;
}

@media only screen and (max-width: 1000px) {
  .box input {
    padding: 30px;
    font-size: 24px;
    width: 90%;
  }
}

.button button {
  width: 40%;
  background-color: #2F65F8;
  border: none;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  margin-top: 5%;
  color: white;
  font-weight: bolder;
}

.button button:hover {
  background-color: #58A1FF;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .button button {
    padding: 30px;
    font-size: 24px;
    width: 100%;
  }
}

.footer {
  background-color: hsl(243deg 87% 12%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50vh;
  padding: 0 70px;
  align-items: center;
  font-family: 'Open sans';
}

@media only screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    padding-top: 15%;
    height: 80%;
    align-items: flex-start;
    font-size: 32px;
    padding-left: 10%;
  }
}

.footer-logo {
  width: 20vh;
  margin-bottom: 10px;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.icon-phone {
  width: 10%;
  height: 10%;
}

.icon-email {
  width: 10%;
  height: 10%;
}

.contact {
  display: flex;
  flex-direction: column;
  color: white;
  width: 20%;
}

@media only screen and (max-width: 1000px) {
  .contact {
    justify-content: space-between;
    width: 55%;
  }
}

.list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
  color: white;
  list-style: none;
  font-size: 14px;
}

.list1 li:hover {
  cursor: pointer;
  color: #6C9BFF;
}

@media only screen and (max-width: 1000px) {
  .list1 {
    font-size: 34px;
    padding: 0;
    margin-top: 5%;
    margin-left: -5%;
  }
}

.list2 {
  color: white;
  list-style: none;
  padding-top: 7%;
  font-size: 14px;
}

.list2 li:hover {
  cursor: pointer;
  color: #6C9BFF;
}

@media only screen and (max-width: 1000px) {
  .list2 {
    font-size: 34px;
    padding: 0;
    margin-left: -5%;
  }
}

.icons {
  padding: 0 10%;
  width: 7%;
  display: flex;
  justify-content: space-between;
}

.icons:hover {
  color: #6C9BFF;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .icons {
    padding: 0 0 10% 0;
    align-self: center;
    justify-content: space-between;
    width: 30%;
  }
}

.facebook-icon {
  width: 3vh;
  height: 3vh;
}

.twitter-icon {
  width: 3vh;
  height: 3vh;
}

.instagram-icon {
  width: 3vh;
  height: 3vh;
}
