body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
}

@media only screen and (max-width: 800px) {
  .header {
    width: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;;
  text-decoration: none;
  color: #07043B;
  width: 20%;
  font-family: 'Open sans'
}

.nav-a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 800px) {
  .nav {
    width: auto;
  }
}


.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vh;
    text-align: center;
  }
}

.text1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 70px;
}

.text1 h2 {
  font-family: 'Raleway';
  font-size: 40px;
  color: #07043B;
}

.text1 p {
  font-family: 'Open sans';
  color: #07043B;
  font-size: 17px;
}

@media only screen and (max-width: 800px) {
  .p {

  }
}

.input {
  display: flex;
  flex-direction: row;
}

.input input {
  padding: 10px 20% 10px 10px;
  border-radius: 3px;
  border: 1px solid #07043B;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  font-family: 'Open sans';
  font-size: 14px;
  color: #C2C2C2;

}

.input button {
  background-color: #2F65F8;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 60px;
  margin-left: 15px;
  font-weight: 500;
  font-family: 'Open sans';
  font-size: 14px;
}

.input button:hover {
  background-color: #58A1FF;
  cursor: pointer;
}


.illustration-1 {
  display: flex;
  height: 50vh;
  width: 40%;
  padding-top: 3%;
}

@media only screen and (max-width: 800px) {
.illustration-1 {
  display: flex;
  height: 10%;
  width: 10%;
  padding-top: 10px;
 }
}

.middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: #F8F8FE;
  padding: 0 0 50px 0;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
  width: 50%;
}

.text2 h2 {
  font-family: 'Raleway';
  font-size: 40px;
  color: #07043B;
}

.text2 p {
  font-family: 'Open sans';
  width: 80%;
  color: #07043B;
}

 .text2 a {
   font-family: 'Open sans';
   color: #3DA08F;
   text-decoration: none;
 }

 .text2 a:hover {
   cursor: pointer;
   color: #71DFCC;
 }

.arrow-link {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}

.arrow-link:hover {
  color: #71DFCC;
}

 .icon-arrow {
   width: 3vh;
   height: 3vh;
 }

.quotes {
  width: 6%;
  height: 7%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-content: center;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  width: 45%;
  margin-top: 40px;
  font-size: 13px;
  letter-spacing: 0.5px;;
  color: #07043B;
}

.avatar {
  width: 5vh;
  height: 5vh;
  border-radius: 360px;
}

.kyle {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  align-items: center;
}

.illustration-2 {
  display: flex;
  width: 40%;
  height: 50vh;
  margin-top: 15%
}

@media only screen and (max-width: 800px) {
  .illustration-2 {
    width: 10%;
    height: 10%
  }
}

.form {
  display: flex;
  justify-content: space-between;
  background-color: hsl(238deg 22% 44%);
  height: 50vh;
  padding: 0 70px;
  align-items: center;
}

.form-text {
  width: 50%;
}

.form-text h3 {
  font-family: 'Raleway';
  font-size: 32px;
  color: white;
}

.form-text p {
  font-family: 'Open sans';
  color: white;
  width: 80%;
}

 .form-input {
   display: flex;
   flex-direction: column;
   height: 10vh;
   justify-content: space-between;
   color: #C0C0C0;
   width: 50%;
 }

.form-input .box input {
  width: 50%;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
}

.form-input .button {
  background-color: #2F65F8;
}

.footer {
  background-color: hsl(243deg 87% 12%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50vh;
  padding: 0 70px;
  align-items: center;
  font-family: 'Open sans';
}

.footer-logo {
  width: 20vh;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.icon-phone {
  width: 10%;
  height: 10%;
}

.icon-email {
  width: 10%;
  height: 10%;
}

.contact {
  display: flex;
  flex-direction: column;
  color: white;
  width: 20%;
}

.list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
  color: white;
  list-style: none;
  font-size: 14px;

}

.list2 {
  color: white;
  list-style: none;
  padding-top: 7%;
  font-size: 14px;
}

.icons {
  padding: 0 10%;
  width: 25%
}

.facebook-icon {
  width: 5%;
  height: 5%;
}

.twitter-icon {
  width: 5%;
  height: 5%;
}

.instagram-icon {
  width: 5%;
  height: 5%;
}
